MySQL supports several powerful **window functions** that allow you to perform calculations across a set of table rows related to the current row. These are useful for analytical tasks like ranking, running totals, moving averages, etc.

Hereâ€™s a list of common **window functions** in MySQL:

---

### **1. `ROW_NUMBER()`**
- **Purpose**: Assigns a unique sequential integer to rows within a partition of the result set, starting at 1 for each partition.
- **Example**:
  ```sql
  SELECT id, name, ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
  FROM employees;
  ```

---

### **2. `RANK()`**
- **Purpose**: Assigns a rank to each row within a partition, with gaps in ranks when there are ties.
- **Example**:
  ```sql
  SELECT id, name, RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rank
  FROM employees;
  ```

---

### **3. `DENSE_RANK()`**
- **Purpose**: Similar to `RANK()`, but without gaps in rank values for tied rows.
- **Example**:
  ```sql
  SELECT id, name, DENSE_RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS dense_rank
  FROM employees;
  ```

---

### **4. `NTILE(n)`**
- **Purpose**: Divides rows in each partition into `n` groups, assigning a group number to each row.
- **Example**:
  ```sql
  SELECT id, name, NTILE(4) OVER (PARTITION BY department ORDER BY salary DESC) AS quartile
  FROM employees;
  ```

---

### **5. `LAG()`**
- **Purpose**: Retrieves data from the previous row in the same result set partition.
- **Example**:
  ```sql
  SELECT id, name, salary, LAG(salary) OVER (PARTITION BY department ORDER BY salary) AS previous_salary
  FROM employees;
  ```

---

### **6. `LEAD()`**
- **Purpose**: Retrieves data from the next row in the same result set partition.
- **Example**:
  ```sql
  SELECT id, name, salary, LEAD(salary) OVER (PARTITION BY department ORDER BY salary) AS next_salary
  FROM employees;
  ```

---

### **7. `FIRST_VALUE()`**
- **Purpose**: Returns the first value in an ordered partition.
- **Example**:
  ```sql
  SELECT id, name, salary, FIRST_VALUE(salary) OVER (PARTITION BY department ORDER BY salary) AS lowest_salary
  FROM employees;
  ```

---

### **8. `LAST_VALUE()`**
- **Purpose**: Returns the last value in an ordered partition.
- **Example**:
  ```sql
  SELECT id, name, salary, LAST_VALUE(salary) OVER (PARTITION BY department ORDER BY salary ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS highest_salary
  FROM employees;
  ```

---

### **9. `CUME_DIST()` (Cumulative Distribution)**
- **Purpose**: Calculates the cumulative distribution of a value within a partition.
- **Example**:
  ```sql
  SELECT id, name, salary, CUME_DIST() OVER (PARTITION BY department ORDER BY salary) AS cumulative_distribution
  FROM employees;
  ```

---

### **10. `PERCENT_RANK()`**
- **Purpose**: Calculates the relative rank of a row as a percentage of the total rows in the partition.
- **Example**:
  ```sql
  SELECT id, name, salary, PERCENT_RANK() OVER (PARTITION BY department ORDER BY salary) AS percent_rank
  FROM employees;
  ```

---

### **11. Aggregate Functions as Window Functions**
In addition to the above, aggregate functions like `SUM()`, `AVG()`, `MIN()`, `MAX()`, and `COUNT()` can be used as window functions.

#### **Examples**:
- **Running Total**:
  ```sql
  SELECT id, name, salary, SUM(salary) OVER (PARTITION BY department ORDER BY salary) AS running_total
  FROM employees;
  ```

- **Average Salary by Department**:
  ```sql
  SELECT id, name, salary, AVG(salary) OVER (PARTITION BY department) AS avg_salary
  FROM employees;
  ```

---

### **12. `NTH_VALUE()`**
- **Purpose**: Returns the nth value in an ordered partition.
- **Example**:
  ```sql
  SELECT id, name, salary, NTH_VALUE(salary, 2) OVER (PARTITION BY department ORDER BY salary) AS second_lowest_salary
  FROM employees;
  ```

---

### **Key Notes**
1. **`OVER()` Clause**:
   - Defines the window for the function.
   - Can include `PARTITION BY` to group rows and `ORDER BY` to sort rows.

2. **Partitioning**:
   - Without `PARTITION BY`, the function operates over the entire result set.

3. **Performance**:
   - Window functions can be resource-intensive, especially with large datasets. Use with appropriate indexing and optimizations.

---